$color-white: #ffffff;
$color-border: #eeeeee;
$color-primary: #01559b;
$color-secondary: #3a3b3c;
$color-tertiary: #4b5563;
$color-background: #f9f9fb;
$background-color-success: #69aa43;
$color-gray: #929292;
$color-bluesky: #00adef;
$color-border-btn: #d0d5dd;
$color-btn-table: #e9e9e9;
$color-danger: red;
$color-error: #d32f2f;
$color-cicle-items-gray: #e8edf3;
$color-cicle-items-green: #01559b;
$color-btn-danger: rgba(245, 30, 36, 0.6);
$color-border-input: #d0d5dd;
$color-white: #ffffff;
$color-white-hidden: #ffffff00;
$color-border-block: #e4e4e4;
$color-placeholder: #929292;
$color-hover-block: #f2f5f8;
$color-disable-input: #f7f7f7;
$border-table: #e4e4e4;
$background-page: #f9f9fb;
$color-dark-gray: #3a3b3c;
$color-dark-light: #4b5563;
$color-info: #00adef;
$color-gray-text: #87898d;
$color-gray-A: #091e3a;
$color-gray-F: #9a9c9f;
$color-header-position: #a2a5a9;
$color-blocked: #f9787c;
$color-unit: #a2a5a9;
$color-row-odd: #f2f5f8;
$color-inactive-content: #929292;
$color-disable: #dee1e4;
$color-available: #000000;
$color-dot-red: #eb557f;
$color-dot-green: #70e28d;
$color-dot-violet: #a644f6;
$color-dot-blue: #5a92f7;
$color-warning: #f5bf00;
$color-white-opacity-25: rgba(255, 255, 255, 0.25);
$color-btn-danger: rgba(245, 30, 36, 0.6);
$color-border-primary: #e4e4e4;
$color-line-menu: #4e86b5;
$color-input-disable: #e4e4e4;

$font-family-secondary: 'SF UI Display';

$form-label-primary: #4b5563;
$form-disabled-color: #f7f7f7;

$color-coupon: #f2f5f8;

$hover-red-button-color: #f56569;
$hover-offer-confirm-button-color: #12bdfe;
$hover-approve-button-color: #0376d7;
$color-main: #021d2e;
